mex2.xml

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays"><xs:import schemaLocation="mex3.xml" namespace="http://schemas.datacontract.org/2004/07/FusionProQueue"/><xs:complexType name="ArrayOfstring"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring"/><xs:complexType name="ArrayOfint"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int"/></xs:sequence></xs:complexType><xs:element name="ArrayOfint" nillable="true" type="tns:ArrayOfint"/><xs:complexType name="ArrayOfKeyValueOfstringWatchFolderSettingsckesQ5Bp"><xs:annotation><xs:appinfo><IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary></xs:appinfo></xs:annotation><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringWatchFolderSettingsckesQ5Bp"><xs:complexType><xs:sequence><xs:element name="Key" nillable="true" type="xs:string"/><xs:element name="Value" nillable="true" type="q1:WatchFolderSettings" xmlns:q1="http://schemas.datacontract.org/2004/07/FusionProQueue"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType><xs:element name="ArrayOfKeyValueOfstringWatchFolderSettingsckesQ5Bp" nillable="true" type="tns:ArrayOfKeyValueOfstringWatchFolderSettingsckesQ5Bp"/></xs:schema>
