mex3.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/FusionProQueue"
           elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/FusionProQueue">
    <xs:import schemaLocation="mex2.xml" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
    <xs:import schemaLocation="mex4.xml" namespace="http://schemas.datacontract.org/2004/07/System.IO"/>
    <xs:import schemaLocation="mex1.xml" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
    <xs:complexType name="GraphicFrame">
        <xs:sequence>
            <xs:element minOccurs="0" name="AlignHorizontal" type="xs:int"/>
            <xs:element minOccurs="0" name="AlignVertical" type="xs:int"/>
            <xs:element minOccurs="0" name="BorderColor" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="BorderThickness" type="xs:int"/>
            <xs:element minOccurs="0" name="Bounds" nillable="true" type="tns:Rectangle"/>
            <xs:element minOccurs="0" name="DeletedFrame" type="xs:boolean"/>
            <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="FillColor" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Filled" type="xs:boolean"/>
            <xs:element minOccurs="0" name="FilledPercent" type="xs:int"/>
            <xs:element minOccurs="0" name="ID" type="xs:long"/>
            <xs:element minOccurs="0" name="ImageContent" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Layer" type="xs:int"/>
            <xs:element minOccurs="0" name="LockContent" type="xs:boolean"/>
            <xs:element minOccurs="0" name="LockPosition" type="xs:boolean"/>
            <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="NewFrame" type="xs:boolean"/>
            <xs:element minOccurs="0" name="PageNumber" type="xs:int"/>
            <xs:element minOccurs="0" name="Scale" type="xs:int"/>
            <xs:element minOccurs="0" name="VariableName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="positionOrSizeChange" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GraphicFrame" nillable="true" type="tns:GraphicFrame"/>
    <xs:complexType name="Rectangle">
        <xs:sequence>
            <xs:element minOccurs="0" name="Height" nillable="true" type="tns:Space"/>
            <xs:element minOccurs="0" name="Left" nillable="true" type="tns:Space"/>
            <xs:element minOccurs="0" name="RotationAngle" type="xs:double"/>
            <xs:element minOccurs="0" name="Top" nillable="true" type="tns:Space"/>
            <xs:element minOccurs="0" name="Width" nillable="true" type="tns:Space"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Rectangle" nillable="true" type="tns:Rectangle"/>
    <xs:complexType name="Space">
        <xs:sequence>
            <xs:element minOccurs="0" name="HundredthsOfPoints" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Space" nillable="true" type="tns:Space"/>
    <xs:complexType name="TemplateCollectionResponse">
        <xs:sequence>
            <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Groups" nillable="true"
                        type="q1:ArrayOfstring"/>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TemplateNames" nillable="true"
                        type="q2:ArrayOfstring"/>
            <xs:element minOccurs="0" name="Templates" nillable="true" type="tns:ArrayOfTemplate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TemplateCollectionResponse" nillable="true" type="tns:TemplateCollectionResponse"/>
    <xs:complexType name="ArrayOfTemplate">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Template" nillable="true" type="tns:Template"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfTemplate" nillable="true" type="tns:ArrayOfTemplate"/>
    <xs:complexType name="Template">
        <xs:sequence>
            <xs:element minOccurs="0" name="ColorList" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ColorLookup" nillable="true" type="tns:ArrayOfKeyValue"/>
            <xs:element minOccurs="0" name="CompositionID" type="xs:int"/>
            <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="FieldInfo" nillable="true" type="tns:ArrayOfFieldInfo"/>
            <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FieldNames" nillable="true"
                        type="q3:ArrayOfstring"/>
            <xs:element minOccurs="0" name="FontCSSURL" nillable="true" type="xs:string"/>
            <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FontImports" nillable="true"
                        type="q4:ArrayOfstring"/>
            <xs:element minOccurs="0" name="FontList" nillable="true" type="xs:string"/>
            <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GraphicResourceNames" nillable="true"
                        type="q5:ArrayOfstring"/>
            <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GraphicRuleNames" nillable="true"
                        type="q6:ArrayOfstring"/>
            <xs:element minOccurs="0" name="HTMLFormFilePath" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Pages" nillable="true" type="tns:ArrayOfTemplatePage"/>
            <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TemplatePageNames" nillable="true"
                        type="q7:ArrayOfstring"/>
            <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TextRuleNames" nillable="true"
                        type="q8:ArrayOfstring"/>
            <xs:element minOccurs="0" name="ThumbnailURL" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="TotalPages" type="xs:int"/>
            <xs:element minOccurs="0" name="TotalRecords" type="xs:int"/>
            <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WebFontNames" nillable="true"
                        type="q9:ArrayOfstring"/>
            <xs:element minOccurs="0" name="bAdd" type="xs:boolean"/>
            <xs:element minOccurs="0" name="bDelete" type="xs:boolean"/>
            <xs:element minOccurs="0" name="bMove" type="xs:boolean"/>
            <xs:element minOccurs="0" name="bResize" type="xs:boolean"/>
            <xs:element minOccurs="0" name="bVariableRuleInsert" type="xs:boolean"/>
            <xs:element minOccurs="0" name="graphicFrames" nillable="true" type="tns:ArrayOfGraphicFrame"/>
            <xs:element minOccurs="0" name="sRemoveToolbarButtons" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="textFrames" nillable="true" type="tns:ArrayOfTextFrame"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Template" nillable="true" type="tns:Template"/>
    <xs:complexType name="ArrayOfKeyValue">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValue" nillable="true" type="tns:KeyValue"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfKeyValue" nillable="true" type="tns:ArrayOfKeyValue"/>
    <xs:complexType name="KeyValue">
        <xs:sequence>
            <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="KeyValue" nillable="true" type="tns:KeyValue"/>
    <xs:complexType name="ArrayOfFieldInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="FieldInfo" nillable="true" type="tns:FieldInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfFieldInfo" nillable="true" type="tns:ArrayOfFieldInfo"/>
    <xs:complexType name="FieldInfo">
        <xs:sequence>
            <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Children" nillable="true"
                        type="q10:ArrayOfstring"/>
            <xs:element minOccurs="0" name="DataPattern" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Default" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="HTMLFieldName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="HTMLParent" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="IsGraphic" type="xs:boolean"/>
            <xs:element minOccurs="0" name="LimitMax" type="xs:float"/>
            <xs:element minOccurs="0" name="LimitMin" type="xs:float"/>
            <xs:element minOccurs="0" name="MultiLineCharacterLimit" type="xs:int"/>
            <xs:element minOccurs="0" name="MultiLineNumEditLines" type="xs:int"/>
            <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="OriginalValue" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Parent" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="PickListDisplay" type="tns:FieldPickListDisplay"/>
            <xs:element minOccurs="0" name="PickListItems" nillable="true" type="tns:ArrayOfKeyValue"/>
            <xs:element minOccurs="0" name="Prompt" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ReadOnly" type="xs:boolean"/>
            <xs:element minOccurs="0" name="RegExPattern" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Required" type="xs:boolean"/>
            <xs:element minOccurs="0" name="SingleLineFilter" type="tns:FieldSingleLineFilter"/>
            <xs:element minOccurs="0" name="Type" type="tns:FieldType"/>
            <xs:element minOccurs="0" name="UseLimits" type="xs:boolean"/>
            <xs:element minOccurs="0" name="Visible" type="xs:boolean"/>
            <xs:element minOccurs="0" name="YesNoCheckBox" type="xs:boolean"/>
            <xs:element minOccurs="0" name="YesNoStorage" type="tns:FieldYesNoStorage"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FieldInfo" nillable="true" type="tns:FieldInfo"/>
    <xs:simpleType name="FieldPickListDisplay">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Droplist"/>
            <xs:enumeration value="MultiSelect"/>
            <xs:enumeration value="SingleSelect"/>
            <xs:enumeration value="RadioButtons"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="FieldPickListDisplay" nillable="true" type="tns:FieldPickListDisplay"/>
    <xs:simpleType name="FieldSingleLineFilter">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Anything"/>
            <xs:enumeration value="Integer"/>
            <xs:enumeration value="Numeric"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="FieldSingleLineFilter" nillable="true" type="tns:FieldSingleLineFilter"/>
    <xs:simpleType name="FieldType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SingleLine"/>
            <xs:enumeration value="MultiLine"/>
            <xs:enumeration value="Gender"/>
            <xs:enumeration value="YesNo"/>
            <xs:enumeration value="PickList"/>
            <xs:enumeration value="Child"/>
            <xs:enumeration value="GraphicUpload"/>
            <xs:enumeration value="GraphicPicklist"/>
            <xs:enumeration value="Separator"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="FieldType" nillable="true" type="tns:FieldType"/>
    <xs:simpleType name="FieldYesNoStorage">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Y_N"/>
            <xs:enumeration value="Yes_No"/>
            <xs:enumeration value="One_Zero"/>
            <xs:enumeration value="T_F"/>
            <xs:enumeration value="True_False"/>
            <xs:enumeration value="M_F"/>
            <xs:enumeration value="Male_Female"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="FieldYesNoStorage" nillable="true" type="tns:FieldYesNoStorage"/>
    <xs:complexType name="ArrayOfTemplatePage">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplatePage" nillable="true"
                        type="tns:TemplatePage"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfTemplatePage" nillable="true" type="tns:ArrayOfTemplatePage"/>
    <xs:complexType name="TemplatePage">
        <xs:sequence>
            <xs:element minOccurs="0" name="FieldInfo" nillable="true" type="tns:ArrayOfFieldInfo"/>
            <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FieldNames" nillable="true"
                        type="q11:ArrayOfstring"/>
            <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GraphicRuleNames" nillable="true"
                        type="q12:ArrayOfstring"/>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="PageID" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="TemplatePageType" type="xs:boolean"/>
            <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TextRuleNames" nillable="true"
                        type="q13:ArrayOfstring"/>
            <xs:element minOccurs="0" name="ThumbnailURL" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="graphicFrames" nillable="true" type="tns:ArrayOfGraphicFrame"/>
            <xs:element minOccurs="0" name="textFrames" nillable="true" type="tns:ArrayOfTextFrame"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TemplatePage" nillable="true" type="tns:TemplatePage"/>
    <xs:complexType name="ArrayOfGraphicFrame">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="GraphicFrame" nillable="true"
                        type="tns:GraphicFrame"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfGraphicFrame" nillable="true" type="tns:ArrayOfGraphicFrame"/>
    <xs:complexType name="ArrayOfTextFrame">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="TextFrame" nillable="true" type="tns:TextFrame"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfTextFrame" nillable="true" type="tns:ArrayOfTextFrame"/>
    <xs:complexType name="TextFrame">
        <xs:sequence>
            <xs:element minOccurs="0" name="BorderColor" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="BorderThickness" type="xs:int"/>
            <xs:element minOccurs="0" name="Bounds" nillable="true" type="tns:Rectangle"/>
            <xs:element minOccurs="0" name="CornerRadius" type="xs:int"/>
            <xs:element minOccurs="0" name="DeletedFrame" type="xs:boolean"/>
            <xs:element minOccurs="0" name="FillColor" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Filled" type="xs:boolean"/>
            <xs:element minOccurs="0" name="FilledPercent" type="xs:int"/>
            <xs:element minOccurs="0" name="ID" type="xs:long"/>
            <xs:element minOccurs="0" name="InitialCharStyle" nillable="true" type="tns:CharacterStyle"/>
            <xs:element minOccurs="0" name="InitialParaStyle" nillable="true" type="tns:ParagraphStyle"/>
            <xs:element minOccurs="0" name="InitialStyleTags" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Layer" type="xs:int"/>
            <xs:element minOccurs="0" name="LockContent" type="xs:boolean"/>
            <xs:element minOccurs="0" name="LockPosition" type="xs:boolean"/>
            <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="NewFrame" type="xs:boolean"/>
            <xs:element minOccurs="0" name="PageNumber" type="xs:int"/>
            <xs:element minOccurs="0" name="TextContents" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="contentChanged" type="xs:boolean"/>
            <xs:element minOccurs="0" name="positionOrSizeChange" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TextFrame" nillable="true" type="tns:TextFrame"/>
    <xs:complexType name="CharacterStyle">
        <xs:sequence>
            <xs:element minOccurs="0" name="BaseStyleName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Bold" type="xs:boolean"/>
            <xs:element minOccurs="0" name="Capitalization" type="xs:short"/>
            <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="FontFamily" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="FontStyleName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="InddFontName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Italics" type="xs:boolean"/>
            <xs:element minOccurs="0" name="Kerning" type="xs:boolean"/>
            <xs:element minOccurs="0" name="Leading" nillable="true" type="tns:Space"/>
            <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Position" type="xs:short"/>
            <xs:element minOccurs="0" name="SetWidth" type="xs:short"/>
            <xs:element minOccurs="0" name="SmallCapRatio" type="xs:short"/>
            <xs:element minOccurs="0" name="SmallCaps" type="xs:boolean"/>
            <xs:element minOccurs="0" name="StrikeThrough" type="xs:boolean"/>
            <xs:element minOccurs="0" name="SubScript" type="xs:boolean"/>
            <xs:element minOccurs="0" name="SuperScript" type="xs:boolean"/>
            <xs:element minOccurs="0" name="SupersubFontRatio" type="xs:short"/>
            <xs:element minOccurs="0" name="SupersubOffsetRatio" type="xs:short"/>
            <xs:element minOccurs="0" name="Tint" type="xs:double"/>
            <xs:element minOccurs="0" name="TypeSize" type="xs:short"/>
            <xs:element minOccurs="0" name="Underline" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CharacterStyle" nillable="true" type="tns:CharacterStyle"/>
    <xs:complexType name="ParagraphStyle">
        <xs:sequence>
            <xs:element minOccurs="0" name="Alignment" type="tns:ParagraphAlignment"/>
            <xs:element minOccurs="0" name="AutoLetterSpace" type="xs:boolean"/>
            <xs:element minOccurs="0" name="AutoNumberCharStyle" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="AutoNumberFormat" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="AutoNumberPosition" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Balance" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="CellBottomMargin" type="xs:long"/>
            <xs:element minOccurs="0" name="CellLeftMargin" type="xs:long"/>
            <xs:element minOccurs="0" name="CellRightMargin" type="xs:long"/>
            <xs:element minOccurs="0" name="CellTopMargin" type="xs:long"/>
            <xs:element minOccurs="0" name="CellVerticalAlign" type="xs:long"/>
            <xs:element minOccurs="0" name="FirstIndent" type="xs:long"/>
            <xs:element minOccurs="0" name="HyphenMinPrefix" type="xs:short"/>
            <xs:element minOccurs="0" name="HyphenMinSuffix" type="xs:short"/>
            <xs:element minOccurs="0" name="Hyphenate" type="xs:boolean"/>
            <xs:element minOccurs="0" name="KeepNext" type="xs:short"/>
            <xs:element minOccurs="0" name="KeepPrev" type="xs:short"/>
            <xs:element minOccurs="0" name="LeadAfter" type="xs:long"/>
            <xs:element minOccurs="0" name="LeadBefore" type="xs:long"/>
            <xs:element minOccurs="0" name="LeftIndent" type="xs:long"/>
            <xs:element minOccurs="0" name="Margins" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ParagraphPlacement" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="RightIndent" type="xs:long"/>
            <xs:element minOccurs="0" name="SmallCapRatio" type="xs:short"/>
            <xs:element minOccurs="0" name="SubScriptOffset" type="xs:short"/>
            <xs:element minOccurs="0" name="SubScriptRatio" type="xs:short"/>
            <xs:element minOccurs="0" name="SuperScriptOffset" type="xs:short"/>
            <xs:element minOccurs="0" name="SuperScriptRatio" type="xs:short"/>
            <xs:element minOccurs="0" name="Tabs" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="VerticalStartPosition" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Widows" type="xs:short"/>
            <xs:element minOccurs="0" name="WordSpaceMax" type="xs:short"/>
            <xs:element minOccurs="0" name="WordSpaceMin" type="xs:short"/>
            <xs:element minOccurs="0" name="WordSpaceOpt" type="xs:short"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ParagraphStyle" nillable="true" type="tns:ParagraphStyle"/>
    <xs:simpleType name="ParagraphAlignment">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Left"/>
            <xs:enumeration value="Center"/>
            <xs:enumeration value="Right"/>
            <xs:enumeration value="Justified"/>
            <xs:enumeration value="JustifiedFull"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="ParagraphAlignment" nillable="true" type="tns:ParagraphAlignment"/>
    <xs:complexType name="TemplateRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="AsWSDL" type="xs:boolean"/>
            <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Language" type="tns:Language"/>
            <xs:element minOccurs="0" name="PageNumber" type="xs:int"/>
            <xs:element minOccurs="0" name="TemplateName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="TemplateWebConfig" nillable="true" type="tns:ArrayOfKeyValue"/>
            <xs:element minOccurs="0" name="Type" type="tns:FileType"/>
            <xs:element minOccurs="0" name="WebEnabled" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TemplateRequest" nillable="true" type="tns:TemplateRequest"/>
    <xs:simpleType name="Language">
        <xs:restriction base="xs:string">
            <xs:enumeration value="English"/>
            <xs:enumeration value="German"/>
            <xs:enumeration value="French"/>
            <xs:enumeration value="Spanish"/>
            <xs:enumeration value="Italian"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Language" nillable="true" type="tns:Language"/>
    <xs:simpleType name="FileType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Template"/>
            <xs:enumeration value="Thumbnail"/>
            <xs:enumeration value="InputData"/>
            <xs:enumeration value="Format"/>
            <xs:enumeration value="DataDefinition"/>
            <xs:enumeration value="HTMLFormDefinition"/>
            <xs:enumeration value="FontAssets"/>
            <xs:enumeration value="JobSettings"/>
            <xs:enumeration value="Output"/>
            <xs:enumeration value="JPEGOutput"/>
            <xs:enumeration value="Log"/>
            <xs:enumeration value="XMLLog"/>
            <xs:enumeration value="MediaStyle"/>
            <xs:enumeration value="Imposition"/>
            <xs:enumeration value="WEBBackground"/>
            <xs:enumeration value="CSS"/>
            <xs:enumeration value="BinaryInputFormat"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="FileType" nillable="true" type="tns:FileType"/>
    <xs:complexType name="JobOptions">
        <xs:sequence>
            <xs:element minOccurs="0" name="DisallowChunking" type="xs:boolean"/>
            <xs:element minOccurs="0" name="DisallowOutputFileRelocate" type="xs:boolean"/>
            <xs:element minOccurs="0" name="DisallowOutputFileRename" type="xs:boolean"/>
            <xs:element minOccurs="0" name="JPEGOptions" nillable="true" type="tns:JPEG_Options"/>
            <xs:element minOccurs="0" name="NamedSettings" nillable="true" type="tns:ArrayOfKeyValue"/>
            <xs:element minOccurs="0" name="OutputFileBaseName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="OutputFileName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="OutputFolder" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="OutputFormat" type="tns:OutputFormat"/>
            <xs:element minOccurs="0" name="RecordsToCompose" type="xs:int"/>
            <xs:element minOccurs="0" name="StartRecordNumber" type="xs:int"/>
            <xs:element minOccurs="0" name="SuppressBackground" type="xs:boolean"/>
            <xs:element minOccurs="0" name="UseImposition" type="xs:boolean"/>
            <xs:element minOccurs="0" name="sMessage" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="JobOptions" nillable="true" type="tns:JobOptions"/>
    <xs:complexType name="JPEG_Options">
        <xs:sequence>
            <xs:element minOccurs="0" name="BaseFileName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="JPEGEnabled" type="xs:boolean"/>
            <xs:element minOccurs="0" name="MaxHeight" type="xs:int"/>
            <xs:element minOccurs="0" name="MaxWidth" type="xs:int"/>
            <xs:element minOccurs="0" name="NumberOfPages" type="xs:int"/>
            <xs:element minOccurs="0" name="PDFBoundingBox" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="QualityPercent" type="xs:int"/>
            <xs:element minOccurs="0" name="ResolutionDPI" type="xs:int"/>
            <xs:element minOccurs="0" name="ScalingPercent" type="xs:int"/>
            <xs:element minOccurs="0" name="StartPage" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="JPEG_Options" nillable="true" type="tns:JPEG_Options"/>
    <xs:simpleType name="OutputFormat">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PostScript"/>
            <xs:enumeration value="PDF"/>
            <xs:enumeration value="VPDF"/>
            <xs:enumeration value="PDF_VT"/>
            <xs:enumeration value="AFP"/>
            <xs:enumeration value="VDX"/>
            <xs:enumeration value="Digimaster_PS"/>
            <xs:enumeration value="PPML"/>
            <xs:enumeration value="HP_PPML"/>
            <xs:enumeration value="JLYT"/>
            <xs:enumeration value="MultiFile_VPS"/>
            <xs:enumeration value="SingleFile_VPS"/>
            <xs:enumeration value="VIPP"/>
            <xs:enumeration value="BIF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="OutputFormat" nillable="true" type="tns:OutputFormat"/>
    <xs:complexType name="TemplateResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="TemplateData" nillable="true" type="tns:ArrayOfDataRecord"/>
            <xs:element minOccurs="0" name="TemplateFileInBytes" nillable="true" type="xs:base64Binary"/>
            <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="TemplateFileStream" nillable="true"
                        type="q14:Stream"/>
            <xs:element minOccurs="0" name="TemplatePathURLFormData" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="TemplateWebConfig" nillable="true" type="tns:ArrayOfKeyValue"/>
            <xs:element minOccurs="0" name="WebEnabled" type="xs:boolean"/>
            <xs:element minOccurs="0" name="WebFontCaps" type="tns:FPWebFontCapability"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TemplateResponse" nillable="true" type="tns:TemplateResponse"/>
    <xs:complexType name="ArrayOfDataRecord">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="DataRecord" nillable="true" type="tns:DataRecord"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfDataRecord" nillable="true" type="tns:ArrayOfDataRecord"/>
    <xs:complexType name="DataRecord">
        <xs:sequence>
            <xs:element minOccurs="0" name="Fields" nillable="true" type="tns:ArrayOfDataField"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DataRecord" nillable="true" type="tns:DataRecord"/>
    <xs:complexType name="ArrayOfDataField">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="DataField" nillable="true" type="tns:DataField"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfDataField" nillable="true" type="tns:ArrayOfDataField"/>
    <xs:complexType name="DataField">
        <xs:complexContent mixed="false">
            <xs:extension base="tns:KeyValue">
                <xs:sequence>
                    <xs:element minOccurs="0" name="IsGraphic" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="DataField" nillable="true" type="tns:DataField"/>
    <xs:simpleType name="FPWebFontCapability">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NoFontChanges"/>
            <xs:enumeration value="TemplateFonts"/>
            <xs:enumeration value="SpecificFontList"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="FPWebFontCapability" nillable="true" type="tns:FPWebFontCapability"/>
    <xs:complexType name="FieldInfoRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Language" type="tns:Language"/>
            <xs:element minOccurs="0" name="TemplateName" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FieldInfoRequest" nillable="true" type="tns:FieldInfoRequest"/>
    <xs:complexType name="TemplateFieldResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="FieldInfo" nillable="true" type="tns:ArrayOfFieldInfo"/>
            <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FieldNames" nillable="true"
                        type="q15:ArrayOfstring"/>
            <xs:element minOccurs="0" name="FontCSSURL" nillable="true" type="xs:string"/>
            <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GraphicResourceNames" nillable="true"
                        type="q16:ArrayOfstring"/>
            <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GraphicRuleNames" nillable="true"
                        type="q17:ArrayOfstring"/>
            <xs:element minOccurs="0" name="HTMLFormFilePath" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TextRuleNames" nillable="true"
                        type="q18:ArrayOfstring"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TemplateFieldResponse" nillable="true" type="tns:TemplateFieldResponse"/>
    <xs:complexType name="TemplateAddRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Overwrite" type="xs:boolean"/>
            <xs:element minOccurs="0" name="TemplateName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="TemplateWebConfig" nillable="true" type="tns:ArrayOfKeyValue"/>
            <xs:element minOccurs="0" name="TemplateZipFile" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="ThumbnailFile" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="ThumbnailProcess" type="tns:ThumbnailGeneration"/>
            <xs:element minOccurs="0" name="WebEnabled" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TemplateAddRequest" nillable="true" type="tns:TemplateAddRequest"/>
    <xs:simpleType name="ThumbnailGeneration">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Generate"/>
            <xs:enumeration value="Custom"/>
            <xs:enumeration value="None"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="ThumbnailGeneration" nillable="true" type="tns:ThumbnailGeneration"/>
    <xs:complexType name="TemplateAddResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="ActualTemplateName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="InternalTemplateName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TemplateAddResponse" nillable="true" type="tns:TemplateAddResponse"/>
    <xs:complexType name="TemplateDuplicateRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="NewGroupName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="NewTemplateName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="TemplateName" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TemplateDuplicateRequest" nillable="true" type="tns:TemplateDuplicateRequest"/>
    <xs:complexType name="CompositionFilePathURLRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="CompositionID" type="xs:int"/>
            <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="PageOrChunkNumber" type="xs:int"/>
            <xs:element minOccurs="0" name="Type" type="tns:FileType"/>
            <xs:element minOccurs="0" name="bSwitch" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CompositionFilePathURLRequest" nillable="true" type="tns:CompositionFilePathURLRequest"/>
    <xs:complexType name="CompositionFilePathURLResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="CompositionID" type="xs:int"/>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Output" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="OutputFileInBytes" nillable="true" type="xs:base64Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CompositionFilePathURLResponse" nillable="true" type="tns:CompositionFilePathURLResponse"/>
    <xs:complexType name="Preview">
        <xs:sequence>
            <xs:element minOccurs="0" name="CompositionID" type="xs:int"/>
            <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfDataField"/>
            <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="HighRes" type="xs:boolean"/>
            <xs:element minOccurs="0" name="JPEGOptions" nillable="true" type="tns:JPEG_Options"/>
            <xs:element minOccurs="0" name="Override" type="xs:boolean"/>
            <xs:element minOccurs="0" name="PageNumber" type="xs:int"/>
            <xs:element minOccurs="0" name="Priority" type="xs:int"/>
            <xs:element minOccurs="0" name="TemplateName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="TimeoutSeconds" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Preview" nillable="true" type="tns:Preview"/>
    <xs:complexType name="CompositionRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="DataRecords" nillable="true" type="tns:ArrayOfDataRecord"/>
            <xs:element minOccurs="0" name="EmailAddresses" nillable="true" type="tns:ArrayOfKeyValue"/>
            <xs:element minOccurs="0" name="ExportSave" type="xs:boolean"/>
            <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="OnDemand" type="xs:boolean"/>
            <xs:element minOccurs="0" name="OnDemandComp" nillable="true" type="tns:OnDemandComponents"/>
            <xs:element minOccurs="0" name="Options" nillable="true" type="tns:JobOptions"/>
            <xs:element minOccurs="0" name="Priority" type="xs:int"/>
            <xs:element minOccurs="0" name="TemplateName" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CompositionRequest" nillable="true" type="tns:CompositionRequest"/>
    <xs:complexType name="OnDemandComponents">
        <xs:sequence>
            <xs:element minOccurs="0" name="CompositionID" type="xs:int"/>
            <xs:element minOccurs="0" name="ConfigFile" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="FormatFile" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="InstanceFile" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="OutputFile" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="OnDemandComponents" nillable="true" type="tns:OnDemandComponents"/>
    <xs:complexType name="CreateCompositionResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="CompositionID" type="xs:int"/>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="WorkingFolder" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CreateCompositionResponse" nillable="true" type="tns:CreateCompositionResponse"/>
    <xs:simpleType name="FPParameterType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MaxServerLicense"/>
            <xs:enumeration value="AvailableLicense"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="FPParameterType" nillable="true" type="tns:FPParameterType"/>
    <xs:complexType name="GetFusionProStatusResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="iOutput" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetFusionProStatusResponse" nillable="true" type="tns:GetFusionProStatusResponse"/>
    <xs:complexType name="StartCompositionResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="AssignedServer" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="StartCompositionResponse" nillable="true" type="tns:StartCompositionResponse"/>
    <xs:complexType name="QueueCompositionRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="OnDemand" type="xs:boolean"/>
            <xs:element minOccurs="0" name="OnDemandComp" nillable="true" type="tns:OnDemandComponents"/>
            <xs:element minOccurs="0" name="StartRequest" nillable="true" type="tns:StartCompositionRequest"/>
            <xs:element minOccurs="0" name="WorkingFolder" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="QueueCompositionRequest" nillable="true" type="tns:QueueCompositionRequest"/>
    <xs:complexType name="StartCompositionRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="CompositionID" type="xs:int"/>
            <xs:element minOccurs="0" name="Priority" type="xs:int"/>
            <xs:element minOccurs="0" name="requeue" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="StartCompositionRequest" nillable="true" type="tns:StartCompositionRequest"/>
    <xs:complexType name="CompositionStatus">
        <xs:sequence>
            <xs:element minOccurs="0" name="CompletionDateTime" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="JobStatus" type="tns:JobStatus"/>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="PercentComplete" type="xs:int"/>
            <xs:element minOccurs="0" name="ProcessID" type="xs:int"/>
            <xs:element minOccurs="0" name="ReturnCode" type="xs:int"/>
            <xs:element minOccurs="0" name="TotalPages" type="xs:int"/>
            <xs:element minOccurs="0" name="TotalRecords" type="xs:int"/>
            <xs:element minOccurs="0" name="WorkingFolder" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CompositionStatus" nillable="true" type="tns:CompositionStatus"/>
    <xs:simpleType name="JobStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Done"/>
            <xs:enumeration value="None">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1
                        </EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Failed">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-2
                        </EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="InProcess">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-3
                        </EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Queueing">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-4
                        </EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Cancelled">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-5
                        </EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="JobStatus" nillable="true" type="tns:JobStatus"/>
    <xs:complexType name="CompositionInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="AssignedServer" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="AssignedServerAlias" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="CFGFile" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="CompletionDateTime" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="EmailAddresses" nillable="true" type="tns:ArrayOfKeyValue"/>
            <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ID" type="xs:int"/>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="OnDemand" type="xs:boolean"/>
            <xs:element minOccurs="0" name="OnDemandComp" nillable="true" type="tns:OnDemandComponents"/>
            <xs:element minOccurs="0" name="Options" nillable="true" type="tns:JobOptions"/>
            <xs:element minOccurs="0" name="OutputFile" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Priority" type="xs:int"/>
            <xs:element minOccurs="0" name="ProcessID" type="xs:int"/>
            <xs:element minOccurs="0" name="StartDateTime" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="Status" nillable="true" type="tns:CompositionStatus"/>
            <xs:element minOccurs="0" name="TemplateName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="WorkingFolder" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CompositionInfo" nillable="true" type="tns:CompositionInfo"/>
    <xs:complexType name="AddCompositionComponentRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="ComponentType" type="tns:FPCompositionComponentType"/>
            <xs:element minOccurs="0" name="CompositionID" type="xs:int"/>
            <xs:element minOccurs="0" name="FileContentsAsString" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="FileContentsInBytes" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="KeepFileName" type="xs:boolean"/>
            <xs:element minOccurs="0" name="RemoteFilePath" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Type" type="tns:FileType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AddCompositionComponentRequest" nillable="true" type="tns:AddCompositionComponentRequest"/>
    <xs:simpleType name="FPCompositionComponentType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FromString"/>
            <xs:enumeration value="FromFile"/>
            <xs:enumeration value="FromBytes"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="FPCompositionComponentType" nillable="true" type="tns:FPCompositionComponentType"/>
    <xs:complexType name="AddCompositionComponentResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AddCompositionComponentResponse" nillable="true" type="tns:AddCompositionComponentResponse"/>
    <xs:complexType name="CompositionSessionRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="ActiveOnly" type="xs:boolean"/>
            <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="NumRecent" type="xs:int"/>
            <xs:element minOccurs="0" name="TemplateName" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CompositionSessionRequest" nillable="true" type="tns:CompositionSessionRequest"/>
    <xs:complexType name="GetCompositionSessionsResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="Compositions" nillable="true" type="tns:ArrayOfCompositionSessionInfo"/>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetCompositionSessionsResponse" nillable="true" type="tns:GetCompositionSessionsResponse"/>
    <xs:complexType name="ArrayOfCompositionSessionInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="CompositionSessionInfo" nillable="true"
                        type="tns:CompositionSessionInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfCompositionSessionInfo" nillable="true" type="tns:ArrayOfCompositionSessionInfo"/>
    <xs:complexType name="CompositionSessionInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="AssignedServerAlias" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="CompletionDateTime" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ID" type="xs:int"/>
            <xs:element minOccurs="0" name="JobStatus" type="tns:JobStatus"/>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="OnDemand" type="xs:boolean"/>
            <xs:element minOccurs="0" name="OutputFile" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="PercentComplete" type="xs:int"/>
            <xs:element minOccurs="0" name="Priority" type="xs:int"/>
            <xs:element minOccurs="0" name="ReturnCode" type="xs:int"/>
            <xs:element minOccurs="0" name="StartDateTime" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="TemplateName" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CompositionSessionInfo" nillable="true" type="tns:CompositionSessionInfo"/>
    <xs:complexType name="TargetStatusActivityResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Targets" nillable="true" type="tns:ArrayOfServerStatus"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TargetStatusActivityResponse" nillable="true" type="tns:TargetStatusActivityResponse"/>
    <xs:complexType name="ArrayOfServerStatus">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerStatus" nillable="true"
                        type="tns:ServerStatus"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfServerStatus" nillable="true" type="tns:ArrayOfServerStatus"/>
    <xs:complexType name="ServerStatus">
        <xs:sequence>
            <xs:element minOccurs="0" name="Active" type="xs:boolean"/>
            <xs:element minOccurs="0" name="AvailableInstances" type="xs:int"/>
            <xs:element minOccurs="0" name="DefinedMaxLoad" type="xs:int"/>
            <xs:element minOccurs="0" name="MaxLoad" type="xs:int"/>
            <xs:element minOccurs="0" name="PortNumber" type="xs:int"/>
            <xs:element minOccurs="0" name="Server" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ServerURI" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="StatusTime" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="Unlimited" type="xs:boolean"/>
            <xs:element minOccurs="0" name="WebServiceVersion" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ServerStatus" nillable="true" type="tns:ServerStatus"/>
    <xs:complexType name="TargetInitRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="WorkingFolder" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="sServerAddress" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TargetInitRequest" nillable="true" type="tns:TargetInitRequest"/>
    <xs:complexType name="TargetInitResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="PortNumber" type="xs:int"/>
            <xs:element minOccurs="0" name="WebServiceVersion" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="bActive" type="xs:boolean"/>
            <xs:element minOccurs="0" name="iLicensesAvailable" type="xs:int"/>
            <xs:element minOccurs="0" name="iMaximumLoad" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TargetInitResponse" nillable="true" type="tns:TargetInitResponse"/>
    <xs:complexType name="TargetStatusRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="iCurrentState" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TargetStatusRequest" nillable="true" type="tns:TargetStatusRequest"/>
    <xs:complexType name="TargetStatusResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="bAlive" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TargetStatusResponse" nillable="true" type="tns:TargetStatusResponse"/>
    <xs:complexType name="ReportBackStatusRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="CompletionDateTime" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="ID" type="xs:int"/>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ReturnCode" type="xs:int"/>
            <xs:element minOccurs="0" name="TotalPages" type="xs:int"/>
            <xs:element minOccurs="0" name="TotalRecords" type="xs:int"/>
            <xs:element minOccurs="0" name="status" type="tns:JobStatus"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ReportBackStatusRequest" nillable="true" type="tns:ReportBackStatusRequest"/>
    <xs:complexType name="AddEmailConfigurationRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="Config" nillable="true" type="tns:EmailConfiguration"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AddEmailConfigurationRequest" nillable="true" type="tns:AddEmailConfigurationRequest"/>
    <xs:complexType name="EmailConfiguration">
        <xs:sequence>
            <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="SMTPPort" type="xs:int"/>
            <xs:element minOccurs="0" name="SMTPServer" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="UseSSL" type="xs:boolean"/>
            <xs:element minOccurs="0" name="UseTLS" type="xs:boolean"/>
            <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="EmailConfiguration" nillable="true" type="tns:EmailConfiguration"/>
    <xs:complexType name="EmailResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="EmailResponse" nillable="true" type="tns:EmailResponse"/>
    <xs:complexType name="EmailRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="Config" nillable="true" type="tns:EmailConfiguration"/>
            <xs:element minOccurs="0" name="EmailAddresses" nillable="true" type="tns:ArrayOfKeyValue"/>
            <xs:element minOccurs="0" name="IncludedConfig" type="xs:boolean"/>
            <xs:element minOccurs="0" name="MessageBody" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="MessageSubject" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="EmailRequest" nillable="true" type="tns:EmailRequest"/>
    <xs:complexType name="GetEmailConfigurationResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="Config" nillable="true" type="tns:EmailConfiguration"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetEmailConfigurationResponse" nillable="true" type="tns:GetEmailConfigurationResponse"/>
    <xs:complexType name="GetApplicationSettingsResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="RestartPending" type="xs:boolean"/>
            <xs:element minOccurs="0" name="Settings" nillable="true" type="tns:ArrayOfApplicationSetting"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetApplicationSettingsResponse" nillable="true" type="tns:GetApplicationSettingsResponse"/>
    <xs:complexType name="ArrayOfApplicationSetting">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicationSetting" nillable="true"
                        type="tns:ApplicationSetting"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfApplicationSetting" nillable="true" type="tns:ArrayOfApplicationSetting"/>
    <xs:complexType name="ApplicationSetting">
        <xs:complexContent mixed="false">
            <xs:extension base="tns:KeyValue">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Enabled" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="RequiresRestart" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="Type" type="tns:SettingType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="ApplicationSetting" nillable="true" type="tns:ApplicationSetting"/>
    <xs:simpleType name="SettingType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BOOL_SettingType"/>
            <xs:enumeration value="INT_SettingType"/>
            <xs:enumeration value="STRING_SettingType"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="SettingType" nillable="true" type="tns:SettingType"/>
    <xs:complexType name="SetApplicationSettingsRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="Settings" nillable="true" type="tns:ArrayOfApplicationSetting"/>
            <xs:element minOccurs="0" name="TargetChanges" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="SetApplicationSettingsRequest" nillable="true" type="tns:SetApplicationSettingsRequest"/>
    <xs:complexType name="SetApplicationSettingsResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="SetApplicationSettingsResponse" nillable="true" type="tns:SetApplicationSettingsResponse"/>
    <xs:complexType name="GetWatchersResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="watchFolders"
                        nillable="true"
                        type="q19:ArrayOfKeyValueOfstringWatchFolderSettingsckesQ5Bp"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetWatchersResponse" nillable="true" type="tns:GetWatchersResponse"/>
    <xs:complexType name="WatchFolderSettings">
        <xs:sequence>
            <xs:element minOccurs="0" name="DeleteInputFile" type="xs:boolean"/>
            <xs:element minOccurs="0" name="Enabled" type="xs:boolean"/>
            <xs:element minOccurs="0" name="InputWatchFolder" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="OutputFileNameSource" type="tns:OutputFileNameSource"/>
            <xs:element minOccurs="0" name="OutputFolder" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="OutputFormat" type="tns:OutputFormat"/>
            <xs:element minOccurs="0" name="UseImposition" type="xs:boolean"/>
            <xs:element minOccurs="0" name="WatchConditions" nillable="true" type="tns:ArrayOfWatchFolderCondition"/>
            <xs:element minOccurs="0" name="WatchName" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WatchFolderSettings" nillable="true" type="tns:WatchFolderSettings"/>
    <xs:simpleType name="OutputFileNameSource">
        <xs:restriction base="xs:string">
            <xs:enumeration value="InputFileName"/>
            <xs:enumeration value="CompositionID"/>
            <xs:enumeration value="InputFileAndCompositionID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="OutputFileNameSource" nillable="true" type="tns:OutputFileNameSource"/>
    <xs:complexType name="ArrayOfWatchFolderCondition">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="WatchFolderCondition" nillable="true"
                        type="tns:WatchFolderCondition"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfWatchFolderCondition" nillable="true" type="tns:ArrayOfWatchFolderCondition"/>
    <xs:complexType name="WatchFolderCondition">
        <xs:sequence>
            <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Tasks" nillable="true" type="tns:ArrayOfWatchFolderTask"/>
            <xs:element minOccurs="0" name="TemplateName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Type" type="tns:ConditionType"/>
            <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WatchFolderCondition" nillable="true" type="tns:WatchFolderCondition"/>
    <xs:complexType name="ArrayOfWatchFolderTask">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="WatchFolderTask" nillable="true"
                        type="tns:WatchFolderTask"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfWatchFolderTask" nillable="true" type="tns:ArrayOfWatchFolderTask"/>
    <xs:complexType name="WatchFolderTask">
        <xs:sequence>
            <xs:element minOccurs="0" name="Chunking" type="xs:boolean"/>
            <xs:element minOccurs="0" name="ChunkingDifferentFirstFileSize" type="xs:boolean"/>
            <xs:element minOccurs="0" name="ChunkingFirstFileSize" type="xs:int"/>
            <xs:element minOccurs="0" name="ChunkingSize" type="xs:int"/>
            <xs:element minOccurs="0" name="ConfigItems" nillable="true" type="tns:ArrayOfKeyValue"/>
            <xs:element minOccurs="0" name="EmailAddresses" nillable="true" type="tns:ArrayOfKeyValue"/>
            <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="OutputFileNameSource" type="tns:OutputFileNameSource"/>
            <xs:element minOccurs="0" name="OutputFolder" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="OutputFormat" type="tns:OutputFormat"/>
            <xs:element minOccurs="0" name="UseImposition" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WatchFolderTask" nillable="true" type="tns:WatchFolderTask"/>
    <xs:simpleType name="ConditionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="StartsWith"/>
            <xs:enumeration value="EndsWith"/>
            <xs:enumeration value="Contains"/>
            <xs:enumeration value="Matches"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="ConditionType" nillable="true" type="tns:ConditionType"/>
    <xs:complexType name="GetWatchersRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="Folder" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetWatchersRequest" nillable="true" type="tns:GetWatchersRequest"/>
    <xs:complexType name="GetWatcherResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="watchFolder" nillable="true" type="tns:WatchFolderSettings"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetWatcherResponse" nillable="true" type="tns:GetWatcherResponse"/>
    <xs:complexType name="WatchRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="Folder" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Settings" nillable="true" type="tns:WatchFolderSettings"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WatchRequest" nillable="true" type="tns:WatchRequest"/>
    <xs:complexType name="WatchResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WatchResponse" nillable="true" type="tns:WatchResponse"/>
    <xs:complexType name="WatchConditionRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="Condition" nillable="true" type="tns:WatchFolderCondition"/>
            <xs:element minOccurs="0" name="WatchConditionName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="WatchFolderName" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WatchConditionRequest" nillable="true" type="tns:WatchConditionRequest"/>
    <xs:complexType name="WatchTaskRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="Task" nillable="true" type="tns:WatchFolderTask"/>
            <xs:element minOccurs="0" name="WatchConditionName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="WatchFolderName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="WatchTaskName" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WatchTaskRequest" nillable="true" type="tns:WatchTaskRequest"/>
</xs:schema>
